@font-face {
    font-family: 'Controller1';
    src: url('../assets/fonts/Dharma Type - Controller-One.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Controller3';
    src: url('../assets/fonts/Dharma Type - Controller-Three.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Controller5';
    src: url('../assets/fonts/Dharma Type - Controller-Five.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Controller4Ext';
    src: url('../assets/fonts/Dharma Type - ControllerExt-Four.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: Controller1;
    color: whitesmoke;
    background-color: teal;
    background-image: url('../assets/images/lego_dj.jpg');
}

h1{
    font-family: Controller4Ext;
}

.controller3{
    font-family: Controller3;
}

.controller5{
    font-family: Controller5;
}